.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 250px;
	height: 250px;
	background-color: green;
	border-radius: 10px 10px 10px 10px;
	float: left;
	margin: 5px;
	
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
/*.up {
	border-radius: 10px 10px 0 0;
	background-color: gray;
	height: 100px;
	width: 250px;
}


.container {
	border-radius: 0 0 10px 10px;
	background-color: red;
	height: 200px;
	width: 250px;
	
	/*padding: 2px 16px;*/
}*/