.jumbotron {
    width: 70%;
    height: 200px;
    margin: auto;
    text-align: center;
    background-color:  rgb(167, 206, 214);
    padding-left: 45px;
    padding-top: 5px; 
    padding-bottom: 5px;
    border-radius: 10px;
}